{% extends "base.html" %}
{% block title %}Đăng nhập{% endblock %}
{% block content %}
<div class="row justify-content-center">
  <div class="col-md-5">
    <div class="card shadow-sm border-0">
      <div class="card-body">
        <h4 class="mb-3 text-center">Đăng nhập</h4>
        <form method="post">
          <div class="mb-3">
            <label class="form-label">Tên đăng nhập</label>
            <input name="username" class="form-control" required>
          </div>
          <div class="mb-3">
            <label class="form-label">Mật khẩu</label>
            <input name="password" type="password" class="form-control" required>
          </div>
          <button class="btn btn-primary w-100 mb-2">Đăng nhập</button>
          <div class="text-center small">
            Chưa có tài khoản? <a href="{{ url_for('auth.register') }}">Đăng ký</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
